#navbar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0px;
}

#navbar>div:nth-child(1) {
    width: 10%;
    height: 100%;
    margin-left: 30px;
    cursor: pointer;
}

#navbar>div:nth-child(1) img {
    width: 100%;
    height: 100%;
}

#navbar>div:nth-child(2) {
    width: 45%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#navbar>input {
    width: 35%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border: 0px;
    background-color: rgb(248, 248, 247);
    padding-left: 20px;
    border-radius: 5px;
}

#navbar>div:nth-child(4) {
    width: 15%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}




body{
    background-color:rgb(252, 242, 242);
}
#signin{
width: 30%;
height:550px;
margin:auto;
margin-top: 100px;
}
#signin >div:nth-child(1){
border-radius: 5px;
}
#signin >div:nth-child(2){
border-radius: 5px;
width: 100%;
height:68%;
background-color: white;
font-family: sans-serif;
}
#signin >div:nth-child(2) >div:nth-child(1){
display: flex;
font-family: sans-serif;
font-size: 25px;
padding-left: 30px;
}
#signin >div:nth-child(2) p{
color:grey;
margin:35px 10px 0px 10px;
font-size: 20px;
}
#signin >div:nth-child(2) input{
width:80%;
margin-left:30px;
padding:12px;
border:1px solid rgb(207, 207, 207);
font-size: 16px;
color:rgb(207, 207, 207);
}
#signin >div:nth-child(2) strong{
color:#ff3c6f;
cursor: pointer;
}
#signin >div:nth-child(2) >div:nth-child(3){
font-size: 15px;
width:80%;
margin: 25px 0px 25px 32px;
}
#signin >div:nth-child(2) button{
width:80%;
padding:10px 20px;
background-color: #ff3c6f;
color:white;
margin-left:35px;
border:0px;
cursor: pointer;
}
#signin >div:nth-child(2) button+p{
font-size: 15px;
margin-left: 35px;
}