
#navbar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index:1;
}

#logo-main {
    width: 10%;
    height: 100%;
    margin-left: 30px;
    cursor: pointer;
}

#logo {
    width: 100%;
    height: 100%;
}

#navbar>div:nth-child(2){
    width: 45%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
#navbar>div:nth-child(2) a{
    text-decoration: none;
    color:black;
}

#navbar>input {
    width: 35%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border: 0px;
    background-color: rgb(248, 248, 247);
    padding-left: 20px;
    border-radius: 5px;
}

#navbar>div:nth-child(4) {
    width: 15%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#navbar>div:nth-child(4) a{
    color:black;
    text-decoration:none;
}


/* ---------------------------------------------------------------------- */

#footer {
    width: 70%;
    height: 1000px;
    margin: auto;
    margin-top: 100px;
    font-family: sans-serif;
}

#footer>div:nth-child(1) {
    width: 100%;
    height: auto;
    display: flex;
}

#footer>div:nth-child(1)>div:nth-child(1) {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#footer>div:nth-child(1)>div:nth-child(2) {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

#footer>div:nth-child(1)>div:nth-child(1)>div {
    width: 50%;
    height: 100%;
}

#footer>div:nth-child(1)>div:nth-child(1)>div>div {
    line-height: 10px;
    font-size: 14px;
    color: gray;
    font-family: sans-serif;
}

#footer>div:nth-child(1)>div:nth-child(1)>div strong {
    font-size: 12px;
    color: black;
    margin-bottom: 30px;

}

#footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
    width: 50%;
    height: 100%;

}

#footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div{
    margin-bottom: 20px;
    margin-left: 30px;
}
#footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div:nth-child(3) {
    margin-bottom: 10px;
}

#footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div strong{
   font-size: 12px;
}

#footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {
    width: 50%;
    height: 100%;
}
#footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) >div{
    display: flex;
}
#footer>div:nth-child(1)>div:nth-child(2) strong {
    font-size: 14px;
}
#footer>div:nth-child(1)>div:nth-child(2) p {
    font-size: 14px;
}
#footer>div:nth-child(1)>div:nth-child(2) img {
    margin-top: 10px;
}

#footer>div:nth-child(2) {
    width: 100%;
    height: 500px;
    /* border:1px solid red; */
    line-height: 25px;
    font-size: 14px;
    color: grey;
    font-family: sans-serif;
}

#footer>div:nth-child(2) strong {
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;

}

#footer>div:nth-child(2) strong {
    color: rgb(40, 129, 238);
}

#footer>div:nth-child(2)>div:nth-child(1)>div {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}

#footer>div:nth-child(2)>div:nth-child(2) {
    width: 100%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

#footer>div:nth-child(2)>div:nth-child(2)>div {
    width: 40%;
    height: 100%;
    font-size: 15px;
}

#footer>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div {
    line-height: 10px;
    margin-top: 40px;
}

#footer>div:nth-child(2)>div:nth-child(2)>div:nth-child(2) {
    margin-top: 150px;
    height: auto;
    line-height: 10px;
}

#footer>div:nth-child(3) {
    width: 100%;
    height: auto;
    color: grey;
    font-size: 14px;
    line-height: 20px;
}

#footer>div:nth-child(3) h3 {
    font-size: 13px;
    color: rgb(81, 74, 74);
    margin-bottom: -10px;

}

#footer>div:nth-child(3)>div:nth-child(3) {
    padding-left: 30px;
}

#footer>div:nth-child(3)>div:nth-child(3) strong {
    color: rgb(81, 74, 74);

}

#footer>div:nth-child(3)>div:nth-child(1) {
    margin-bottom: 30px;
}

#footer>div:nth-child(3)>div:nth-child(4) {
    margin-bottom: 30px;
}

#footer>div:nth-child(4) {
    width: 100%;
    height: auto;
}

#footer>div:nth-child(4)>div>ul {
    color: grey;
    font-size: 14px;
}

#footer>div:nth-child(4)>div>ul>li {
    line-height: 30px;
}

#footer>div:nth-child(4)>div>strong {
    margin-bottom: 0px;
    color: rgb(81, 74, 74);
    font-size: 14px;
}

#footer>div:nth-child(5) {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

#footer>div:nth-child(5) {
    color: grey;
    font-size: 14px;
    line-height: 20px;
}

#footer>div:nth-child(5) strong {
    color: rgb(81, 74, 74);
    font-size: 14px;
}

#footer>div:nth-child(6) {
    width: 100%;
    height: 500px;
    color: grey;
    font-size: 14px;
    margin-top: 30px;
}

#footer>div:nth-child(6)>div>h4 {
    color: rgb(81, 74, 74);
    font-size: 14 px;
    line-height: 0px;
}

/* -------------------------------------------------------------------- */



/* day-2 ends  */


#products img{
    width:100%;
    cursor: pointer;
}

#products h1{
 margin: 50px 0px 50px 30px;
font-family:sans-serif;
color:#3E4152;
font-weight: 500;
}

#dealofday{
    width:100%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: auto;

}
 #picks{
    width:100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;

}
#category{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;

}
#gftcard{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;

} 
#trendher{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;

} 
#trendher >img{
    width:100%;
}

#trendhim{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
} 
#bestkids{
    width:100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
} 
#stylecast{
    width:100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
} 
#newbrand{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
} 
#spring{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
} 
#unmissable{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: auto;
} 
#grooming{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
} 
#colors{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
} 
#newness{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
} 
#influencer{
    width:100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:auto;
} 
#budget{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows:auto;
} 

#trending{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows:auto;
} 



#slider{
    width:100%;
    height:auto;
    margin-top: 100px;
}
#slider img{
    width:100%;
    border-radius:10px;
    cursor: pointer;
}


